.graphContainer {
    width: 35vw;
    height: 40vh;
    background: blue;
    /* padding: 10px 10px 10px 10px; */
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    .graphContainer {
        width: 80vw;
    }
}
